<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <title>Ataques.Inc</title>

</head>

<body>
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light sticky-top">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="index3.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Contact</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Help
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="#">FAQ</a>
                    <a class="dropdown-item" href="#">Support</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Contact</a>
                </div>
            </li>
        </ul>

        <!-- SEARCH FORM -->
        <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png"
                                alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Brad Diesel
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Call me whenever you can...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png"
                                alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    John Pierce
                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">I got your message bro</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png"
                                alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Nora Silvester
                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">The subject goes here</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
            </li>
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i
                        class="fas fa-th-large"></i></a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4 position-fixed" >
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img src="https://i.ibb.co/QMy4Tj4/RGAGnv1.png" alt="AdminLTE Logo"
                class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Admin MIS</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png"
                        class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Isaac Lozano</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Starter Pages
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Active Page</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Inactive Page</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Simple Link
                                <span class="right badge badge-danger">New</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>


    <div class="container">
        <div class="wrapper">
            <div class="content-wrapper" style="min-height: 823px;">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <div class="col-sm-6 mb-5" >
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active">Ataques Inc</li>
                                    </ol>
                                </div>
                                <h1>1. Ánalisis de los datos</h1><hr>
                                <div class="card card-primary">
                                      <div class="card-header">
                                        <h3 class="card-title">Ejercicio 2</h3>
                                          <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                          </div>
                                      </div>
                                      <div class="card-body">
                                          <ul>
                                            <li><b>Numero de usuarios</b> = {{ejer2.usuarios}}</li></br>
                                            <li><b>Fecha:</b><ul>
                                                    <li>Media = {{ejer2.mediafecha}}</li>
                                                    <li>Desviacion = {{ejer2.desviacionfecha}}</li>
                                                    <li>Maximo = {{ejer2.maxfecha}}</li>
                                                    <li>Minimo = {{ejer2.minfecha}}</li>
                                                </ul>
                                            </li></br>
                                            <li><b>IPs:</b><ul>
                                                    <li>Media = {{ejer2.mediaips}}</li>
                                                    <li>Desviacion = {{ejer2.desviacionips}}</li>
                                                </ul>
                                            </li></br>
                                            <li><b>Emails:</b><ul>
                                                    <li>Media = {{ejer2.mediaemails}}</li>
                                                    <li>Desviacion = {{ejer2.desviacionemails}}</li>
                                                    <li>Maximo = {{ejer2.maxemails}}</li>
                                                    <li>Minimo = {{ejer2.minemails}}</li>
                                                </ul>
                                            </li></br>
                                        </ul>
                                      </div>
                                </div>
                                <div class="card card-primary">
                                      <div class="card-header">
                                        <h3 class="card-title">Ejercicio 3</h3>
                                          <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                          </div>
                                      </div>
                                      <div class="card-body">
                                          <ul>
                                            <li><b>Permisos de usuario:</b><ul>
                                                    <li>Numero de observaciones = {{ejer3.usuario_observaciones}}</li>
                                                    <li>Numero de valores ausentes = {{ejer3.usuario_ausentes}}</li>
                                                    <li>Mediana = {{ejer3.usuario_mediana}}</li>
                                                    <li>Media = {{ejer3.usuario_media}}</li>
                                                    <li>Varianza = {{ejer3.usuario_varianza}}</li>
                                                    <li>Maximo = {{ejer3.usuario_max}}</li>
                                                    <li>Minimo = {{ejer3.usuario_min}}</li>
                                                </ul>
                                            </li></br>
                                            <li><b>Permisos de administrador:</b><ul>
                                                    <li>Numero de observaciones = {{ejer3.admin_observaciones}}</li>
                                                    <li>Numero de valores ausentes = {{ejer3.admin_ausentes}}</li>
                                                    <li>Mediana = {{ejer3.admin_mediana}}</li>
                                                    <li>Media = {{ejer3.admin_media}}</li>
                                                    <li>Varianza = {{ejer3.admin_varianza}}</li>
                                                    <li>Maximo = {{ejer3.admin_max}}</li>
                                                    <li>Minimo = {{ejer3.admin_min}}</li>
                                                </ul>
                                            </li></br>
                                            <li><b>Más de 200 emails:</b><ul>
                                                    <li>Numero de observaciones = {{ejer3.mayor200_observaciones}}</li>
                                                    <li>Numero de valores ausentes = {{ejer3.mayor200_ausentes}}</li>
                                                    <li>Mediana = {{ejer3.mayor200_mediana}}</li>
                                                    <li>Media = {{ejer3.mayor200_media}}</li>
                                                    <li>Varianza = {{ejer3.mayor200_varianza}}</li>
                                                    <li>Maximo = {{ejer3.mayor200_max}}</li>
                                                    <li>Minimo = {{ejer3.mayor200_min}}</li>
                                                </ul>
                                            </li></br>
                                            <li><b>Menos de 200 emails:</b><ul>
                                                    <li>Numero de observaciones = {{ejer3.menor200_observaciones}}</li>
                                                    <li>Numero de valores ausentes = {{ejer3.menor200_ausentes}}</li>
                                                    <li>Mediana = {{ejer3.menor200_mediana}}</li>
                                                    <li>Media = {{ejer3.menor200_media}}</li>
                                                    <li>Varianza = {{ejer3.menor200_varianza}}</li>
                                                    <li>Maximo = {{ejer3.menor200_max}}</li>
                                                    <li>Minimo = {{ejer3.menor200_min}}</li>
                                                </ul>
                                            </li>

                                        </ul>
                                      </div>
                                </div>

                                  <div class="card card-primary">
                                      <div class="card-header">
                                        <h3 class="card-title">Ejercicio 4</h3>
                                          <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                          </div>
                                      </div>
                                      <div class="card-body">
                                            <div class="card card-dark">
                                                  <div class="card-header">
                                                    <h3 class="card-title">Top usuarios críticos</h3>
                                                      <div class="card-tools">
                                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                                      </div>
                                                  </div>
                                                  <div class="card-body">
                                                    {% if grafico4_1 %}
                                                      <div id='chart1' class='chart'”></div>
                                                         <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
                                                         <script type='text/javascript'>
                                                          var graphs = {{grafico4_1 | safe}};
                                                          Plotly.plot('chart1',graphs,{});
                                                        </script>
                                                    {% endif %}
                                                  </div>
                                                </div>
                                                <div class="card card-dark">
                                                  <div class="card-header">
                                                    <h3 class="card-title">Páginas web con las políticas más desactualizadas</h3>
                                                      <div class="card-tools">
                                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                                      </div>
                                                  </div>
                                                  <div class="card-body">
                                                    {% if grafico4_2 %}
                                                      <div id='chart2' class='chart'”></div>
                                                         <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
                                                         <script type='text/javascript'>
                                                          var graphs = {{grafico4_2 | safe}};
                                                          Plotly.plot('chart2',graphs,{});
                                                        </script>
                                                    {% endif %}
                                                  </div>
                                                </div>
                                                <div class="card card-dark">
                                                  <div class="card-header">
                                                    <h3 class="card-title">Conexiones de usuarios con contraseña vulnerable vs no vulnerables</h3>
                                                      <div class="card-tools">
                                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                                      </div>
                                                  </div>
                                                  <div class="card-body">
                                                    {% if grafico4_3 %}
                                                      <div id='chart3' class='chart'”></div>
                                                         <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
                                                         <script type='text/javascript'>
                                                          var graphs = {{grafico4_3 | safe}};
                                                          Plotly.plot('chart3',graphs,{});
                                                        </script>
                                                    {% endif %}
                                                  </div>
                                                </div>
                                                <div class="card card-dark">
                                                  <div class="card-header">
                                                    <h3 class="card-title">Evolución de la creación de páginas web</h3>
                                                      <div class="card-tools">
                                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                                      </div>
                                                  </div>
                                                  <div class="card-body">
                                                    {% if grafico4_41 %}
                                                      <div id='chart41' class='chart'”></div>
                                                         <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
                                                         <script type='text/javascript'>
                                                          var graphs = {{grafico4_41 | safe}};
                                                          Plotly.plot('chart41',graphs,{});
                                                          var graphs = {{grafico4_42 | safe}};
                                                          Plotly.plot('chart42',graphs,{});
                                                        </script>
                                                    {% endif %}
                                                      {% if grafico4_42 %}
                                                      <div id='chart42' class='chart'”></div>
                                                         <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
                                                         <script type='text/javascript'>
                                                          var graphs = {{grafico4_42 | safe}};
                                                          Plotly.plot('chart42',graphs,{});
                                                        </script>
                                                    {% endif %}
                                                  </div>
                                                </div>
                                                <div class="card card-dark">
                                                  <div class="card-header">
                                                    <h3 class="card-title">Contraseñas comprometidas vs No comprometidas</h3>
                                                      <div class="card-tools">
                                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                                      </div>
                                                  </div>
                                                  <div class="card-body">
                                                    {% if grafico4_5 %}
                                                      <div id='chart5' class='chart'”></div>
                                                         <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
                                                         <script type='text/javascript'>
                                                          var graphs = {{grafico4_5 | safe}};
                                                          Plotly.plot('chart5',graphs,{});
                                                        </script>
                                                    {% endif %}
                                                  </div>
                                                </div>
                                      </div>
                                </div>




                                </br></br>
                                <h1>
                                    2. Representación de los datos
                                </h1><hr>
                                          <div class="card card-primary">
                                              <div class="card-header">
                                                <h3 class="card-title">Ejercicio 2</h3>
                                                  <div class="card-tools">
                                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                                  </div>
                                              </div>
                                              <div class="card-body">
                                                 <div class="form-group">
                                                         <label>¿Cuántos usuarios críticos quieres ver?</label></br>
                                                        <input type="number" class="form-control .input-group.input-group-sm" id="input_numUsersCriticos">
                                                     </div>
                                                    <button type="submit" class="btn btn-primary" onclick="load_usersCriticos">Ver</button>
                                                    <script>
                                                        function load_usersCriticos(){
                                                            alert('Button Clcked');
                                                        }
                                                    </script>

                                                    </br></br></br></br>
                                                    <ul>
                                                        <li>
                                                            <b>Top 5 usuarios críticos</b>
                                                            <ol>
                                                                {% for usuario in practica2ej2.usuarios %}
                                                                <li>
                                                                    {{usuario}}
                                                                </li>
                                                                {% endfor %}
                                                            </ol>
                                                        </li></br>
                                                        <li>
                                                            <b>Top 5 páginas vulnerables</b>
                                                            <ol>
                                                                {% for pagina in practica2ej2.paginas %}
                                                                <li>
                                                                    {{pagina}}
                                                                </li>
                                                                {% endfor %}
                                                            </ol>
                                                        </li>
                                                    </ul>
                                          </div>
                                      </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"
        integrity="sha512-ubuT8Z88WxezgSqf3RLuNi5lmjstiJcyezx34yIU2gAHonIi27Na7atqzUZCOoY4CExaoFumzOsFQ2Ch+I/HCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>

</body>

</html>